#page-login {
  background: #020024;
  background: linear-gradient(140deg, rgba(2,0,36,1) 62%, #9871f5 99%);
}

button{
  width: 100%;
    height: 5.6rem;
    background: var(--color-secondary);
    color: var(--color-button-text);
    border: 0;
    border-radius: .8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    transition: 0.2s;
    margin-top: 3.2rem;
}

h1{
  font: 700 3.6rem Archivo;
  line-height: 4.2rem;
}

#msg-register{
  margin-top: 1.2rem;
}

#msg-register a{
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.page-header .top-bar-container #learnny-logo{
  width: 100%;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper input {
    width: 100%;
    padding-right: 3rem; /* espaço para o SVG */
}

.toggle-password {
    position: absolute;
    right: 0.8rem;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

.toggle-password img {
    width: 1.8rem; /* ajuste conforme necessário */
    height: 1.8rem;
    margin-top: 0.7rem;
}
