#page-study #container {
    width: 100vw;
    height: 100vh;
}

#page-study{
    background: #020024;
    background: linear-gradient(140deg, rgba(2,0,36,1) 75%, #9871f5 100%);
    background-repeat: no-repeat;  /* Impede que o gradiente se repita */
    background-attachment: fixed;  /* Fixa o background na janela de visualização */
}

.search-input {
  width: 100%;
  margin-top: 3.2rem;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1.4rem;
}

#search-teachers {
    width: 100%;
    margin-top: 3.2rem;
}

#search-teachers label {
    color: var(--color-text-in-primary);
}

#search-teachers .select-block {
    margin-bottom: 1.4rem;
}

#search-teachers button {
    width: auto;
    padding: 12px 20px;
    height: 5.6rem;
    background: var(--color-secondary);
    color: var(--color-button-text);
    border: 0;
    border-radius: .8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
    margin-top: 3.2rem;
}

#search-teachers button:hover {
    background-color: var(--color-secondary-dark);
}


.teacher-item {
    background-color: var(--color-box-base);
    border: 1px solid var(--color-line-in-white);
    border-radius: .8rem;
    margin-top: 2.4rem;
}

.teacher-item header {
    padding: 3.2rem 2rem;
    display: flex;
    align-items: center;
}

.teacher-item header img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    object-fit: cover;
}

.teacher-item header div {
    margin-left: 2.4rem;
}

.teacher-item header div strong {
    font: 700 2.4rem Archivo;
    display: block;
    color: var(--color-title);
}

.teacher-item header div span {
    font-size: 1.6rem;
    display: block;
    margin-top: .4rem;
}

.teacher-item > p {
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
    text-align: justify;
}

.teacher-item footer {
    padding: 3.2rem 2rem;
    background-color: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 3.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teacher-item footer p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-text-complement);
}

.teacher-item footer p strong {
    font-size: 1.6rem;
    color: var(--color-primary);
    display: block;
}

.teacher-item footer .button {
    width: 20rem;
    height: 5.6rem;
    background: var(--color-secondary);
    color: var(--color-button-text);
    border: 0;
    border-radius: .8rem;
    cursor: pointer;
    font: 700 1.4rem Archivo;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    text-decoration: none;

    transition: background 0.2s;
    margin-left: 1.6rem;
}

.teacher-item footer .button:hover {
    background: var(--color-secondary-dark);
}

#page-study main .no-results {
    max-width: 30rem;
    margin: 12rem auto;
    text-align: center;
}

@media (min-width:700px) {
    #page-study #container {
        max-width: 100vw;
    }

    .teacher-item .header,
    .teacher-item footer {
        padding: 32px;
    }

    #search-teachers {
        display: flex;
        flex-direction: row;
        gap: 10px;
        position: absolute;
        bottom: -28px;
    }

    #page-study main {
        padding: 32px 0;
        max-width: 740px;
        margin: 0 auto;
    }

    #search-teachers .select-block {
        margin-bottom: 0;
    }

    .teacher-item > p {
        padding: 0 32px;
    }

    .teacher-item footer p strong {
        display: initial;
        margin-left: 16px;
    }

    .teacher-item footer button {
        width: 245px;
        font-size: 16px;
        justify-content: center;
    }

    .teacher-item footer button img {
        margin-right: 16px;
    }
}

